{% extends 'base.html' %}
{% block content %}

{% load static %}
<html>

   <body>

     <div class="container">
       <div class='col-sm shadow p-3 mb-5 bg-white rounded'>
         <div class="col-md-auto">
           <h4>Provide Defaults for ACI Tenant Configuration</h4>
           <form method="POST" class="post-form">{% csrf_token %}
               {{ form.as_p }}
               <button type="submit" class="btn btn-secondary">Update</button>
           </form>

         </div>
     </div>
 </div>

 </body>

</html>
{% endblock %}
