{% extends 'base.html' %}
{% block content %}

{% load static %}
<html>

   <body>

    <div class="container">
        <div class="col-md-auto">

            <h4>Push Tenant Data to APIC</h4>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Update</button>
            </form>
        </div>
        <div class="col-md-auto">

          <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
        </div>
    </div>

 </body>

</html>
{% endblock %}
