{% extends 'base.html' %}
{% block content %}

{% load static %}
<html>

   <body>

    <div class="container">
        <div class="col-md-auto">

            <h4>Push Tenant Data to APIC</h4>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Update</button>
            </form>
        </div>
        <div class="col-md-auto">
          <h6>APIC Configuration may take time - check terminal for progress...</h6>

        </div>
    </div>

 </body>

</html>
{% endblock %}
