{% extends 'base.html' %}

{% load static %}

{% block content %}
<section xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="p-2">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit" >Upload</button>
  </form>
</div>
    <div class="p-2">
      Select the configuration file
    </div>
</div>
</div>
</section>

{% if uploaded_file_url %}
<div>

  <div class="container">
  <div class="d-flex justify-content-center">
  <div class="p-2">
    <button type="button" class="btn btn-lg btn-outline-secondary">
  VLANs imported: <span class="badge badge-white">{{ vlan_count }}</span>
  </button>
  </div>
  </div>
</div>




{% endif %}




{% endblock %}
